.box {

  &__header {
    font-size: 4rem;
    font-weight: 700 ;
  }

  &__score {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 1rem 0;
  }

  &__info {
    font-size: 1.6rem;
    margin: 1rem 0;
  }

  &__summary {
    display: flex;
    flex-direction: column;
    margin: auto 2rem;
  }

  &__question-arr {
    font-size: 1.4rem;
    text-align: left;
    margin: .5rem 0;
    padding: .3rem;
    border: var(--color-grey-light-500) 1px solid;
    border-radius: 4px;
  }
}

.max {
  color: rgb(79, 219, 167);
}

.medium {
  color: orange;
}

.low {
  color: red;
}